/*画面遷移時にフワッとフェードアウト・フェードイン*/
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#fff; /* 背景カラー */
  z-index: 9999; /* 一番手前に */
  pointer-events: none; /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0; /* 初期値では非表示 */
  -webkit-transition: opacity .8s ease; /* アニメーション時間は 0.8秒 */
  transition: opacity .8s ease;
}
/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fade::after {
  opacity: 1;
}



* {
  margin: 0;
  padding: 0;
}
html{
    overflow-x: hidden;
	margin:0px;
	padding:0px;
}
body{
    overflow-x: hidden;
	background:#fff;
	text-align:center;
	color:#000;
     font-size: 16px;
	line-height:2;
	letter-spacing:1px;
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
img{
	border-style:none;
	display:block;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

a {
	cursor:pointer;
	color:#000;
	text-decoration:none;
}
a:hover, a:focus {
	text-decoration: none;
	color:#33b633;
}

li{list-style:none;}

.bg_f6f7f8{
width: 100%;
background-color:#f6f7f8;
}

.w_bg_top{
width: 100%;
padding: 0 0 0 0;
margin: -5% 0 0 0;
}
.w_bg_top img{width: 100%;}

.w_bg_bottom{
width: 100%;
margin:0 0 -5% 0;
}
.w_bg_bottom img{width: 100%;}

.bg_six{
width:100%;
margin: 0px auto;
background-image:url("../images/t_six_bg.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:top center;
}

.box_in{
    position: relative;
	width:100%;
	padding: 50px 0 50px 0;
	margin: 0px auto;
	text-align: left;
}
.box_in_z{
	width:100%;
	padding: 50px 0 50px 0;
	margin: 0px auto;
	text-align: left;
}
.box_in_x{
	width:100%;
	padding:0;
	margin: 0px auto;
	text-align: left;
}

/* ---Header----*/

.header {
width:100%;
margin: 0px auto;
background-image:url("../images/mv_bg.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:center 10% center;
}
.header_low {
width:100%;
margin: 0px auto;
background-image:url("../images/mv_bg_low.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:top center;
border-bottom: 1px solid #ddd;
}
.header_in{
width:100%;
margin: 0px auto;
padding:0px 0px 0px 0px;
}


.header_top{
display:flex;
justify-content:space-between;
align-items: center;
width:100%;
max-width:2000px;
margin: 0px auto 0px auto;
padding:40px 40px 20px 40px;
box-sizing: border-box;
}

/* サイトロゴ */
.h_logo{
text-align:left;
width: 400px;
margin:0px;
z-index: 99;
}
.h_logo a{
vertical-align: middle;
display:inline-block;
margin: 0px;
}
.h_logo img{
width: 100%;
margin: 0px 0px 0px 0px;
}

.h_content02{
z-index: 2;
margin: 0px 0px 0px 0px;
}
.h_links02{}
.h_links02 button{
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
.h_links02 button:hover{opacity: 0.7;}
.h_links02 div{}
.h_links02 div img{
width:250px;
margin: 0 0 0 0px;
}


.s-fade-wrap{
max-width:2000px;
margin:0px auto 0 auto;
padding:0px 0 0px 0;
width:100%;

}
.mv_view{
width:86%;
max-width: 2000px;
text-align:left;
margin:0 auto 0px auto;
padding: 0 0 200px 0;
}
.mv_view-01{
width:50%;
margin:0 0 0 6%;
}
.mv_view-01 img{width:100%;margin:0;}

.mv_none{
width:100%;
}


/* ---title---*/
.title_text_c{
width: 100%;
padding: 0px 0 0 0;
text-align:center;
}
.title_text_c p {
width: 6.5%;
margin: 0 auto 20px auto;
}
.title_text_c p img{
width: 100%;
margin: 0 auto;
}
.title_text_c h2 {
width: 35%;
margin: 0 auto;
}
.title_text_c h2 img{
width: 100%;
margin: 0 auto;
}

.title_text_x{
width: 100%;
padding: 20px 0 20px 0;
text-align:center;
}
.title_text_x h2 {
font-size: 24px;
}


/* ---t_cv---*/
.btn_cv{
width:100%;
text-align: center;
margin:0px auto 0px auto;
padding:50px 0;

}
.btn_cv_box01{
width: 40%;
text-align: center;
margin: 0 auto;
position: relative;
z-index: 1;
}

.cv_btn_text{
width:100%;
margin:0px auto 0px auto;
}
.cv_btn_text img{
width:100%;
margin:0px auto 0px auto;
}
.cv_btn_p img{
padding:0px 0px;
width:100%;
text-align: center;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
margin: 0 auto;
}
.cv_btn_p img:hover{
opacity: 0.7;
}
.btn_cv_box01 span{
color:#000;
}
 
/* ---t_two---*/

.t_two_top{
width:15%;
position: absolute;
top:-10%;
left:10%;
}
.t_two_top img{width: 100%;}

.t_two_middle01{
width:25%;
position: absolute;
top:5%;
left:-15%;
}
.t_two_middle01 img{width: 100%;}

.t_two_middle02{
width:35%;
position: absolute;
top:30%;
right:-15%;
}
.t_two_middle02 img{width: 100%;}

.t_two{
display:flex;
align-items:center;
justify-content:space-between;
width:100%;
max-width:1200px;
padding:60px 0px 60px 0px;
margin:0 auto;
position: relative;
}

.t_two_in01{width:55%;margin:0;}
.t_two_in01 p{
color:#000;
font-size: 20px;
line-height:2;
text-align: left;
margin:15px 0 15px 0;
}

.t_two_text_small{
font-size: 16px;
line-height:2;
color:red;
}

.t_two_in02{width:40%;margin:0px;}
.t_two_in02 img{width:100%;object-fit: cover;}


/* ---t_three---*/

.t_three_top{
width:10%;
position: absolute;
top:-5%;
right:10%;
}
.t_three_top img{width: 100%;}


.t_three{
color:#000;
text-align:left;
width:100%;
max-width:1200px;
padding:50px 0px 0px 0px;
margin:0 auto;
display:flex;
align-items:top;
justify-content:space-between;
flex-wrap: wrap;
}
.t_three img{width:46%;margin:0px auto 3%;}

/* ---t_six---*/
.t_six{
width:100%;
max-width:1200px;
padding:0px 0px 0px 0px;
margin:0 auto;
list-style:none;
}
.t_six_box{
padding:0;
margin:50px 0px 0px 0px;
}

.t_six_box img{
width: 100%;
margin: 0 0 0px 0;
}

/* ---t_one---*/
.t_one{
width:100%;
max-width:1100px;
padding:50px 0 0 0;
margin:0px auto;
}

.t_one_top{
width:100%;
margin:0px auto 0px auto;
}
.t_one_top img{width:100%;}

.t_one_box{
display:flex;
align-items:top;
justify-content:space-between;
flex-wrap: wrap;
width:100%;
margin:0px auto 0px auto;
}
.t_one_box div{
width: 31%;
margin:3.5% 0 0 0 ;
}
.t_one_box div img{
width: 100%;
}


/* ---t_five---*/
.t_five{
width:100%;
max-width:1200px;
padding:20px 0px 0px 0px;
margin:0 auto;
list-style:none;
}
.t_five li{
padding:30px 0px 30px 0px;
border-bottom:solid 1px #ccc;
}
.t_five li:last-child{
border-bottom:none;
}
.t_five li div{
display:flex;
align-items:center;
padding:20px;
box-sizing: border-box;
}
.t_five li div img{
width: 40px;
margin: 0 20px 0 0;
}

.t_five_title{

padding:8px 0;
}


.t_five h3{
letter-spacing:1px;
font-size:22px;
line-height:1.5;
color:red;
text-align:left;
font-weight:400;
}
.t_five p{
letter-spacing:1px;
font-size:18px;
text-align:left;
}




/* ---pp---*/
.pp{
width:100%;
max-width:900px;
	padding:0px 0px 30px 0px;
	margin:0 auto;
	list-style:none;
}
.pp h3{
font-size:20px;
line-height:20px;
color:#000;
font-weight:500;
background-color: #f6f7f8;
border-radius:10px;
padding:15px;
margin:40px 0 20px 0;
}
.pp p{
font-size:16px;
line-height:1.5;
padding:0px 0px 0px 0px ;
}

/* ---service---*/
.service{
width:100%;
max-width:900px;
	padding:20px 0px 30px 0px;
	margin:0 auto;
	list-style:none;
}
.service li{
padding:30px 0px 30px 0px;
}
.service li:last-child{
border-bottom:none;
}
.service li h3{
font-size:22px;
line-height:22px;
color:#000;
font-weight:500;
text-align:center;
padding: 0 0 20px 0;
}
.service li p{
letter-spacing:1px;
font-size:16px;
text-align:left;
background-color: #f6f7f8;
border-radius:20px;
padding: 30px;
color:#000;
}
/* ---company---*/
.company{
width:100%;
max-width:900px;
	padding:20px 0px 30px 0px;
	margin:0 auto;
	list-style:none;
}
.company li{
border-bottom: 1px solid #000;
padding:30px 0px 30px 0px;
}
.company li h3{
font-size:20px;
line-height:1.5;
color:red;
font-weight:500;
text-align:left;
padding: 0 0 10px 0;
}
.company li p{
font-size:16px;
line-height:16px;
color:#000;
}
.company li:last-child{
border-bottom:none;
}

/* ---footer---*/


.footer{
width:100%;
padding:0px 0 0px 0;
text-align:center;
background-color:#f6f7f8;
}
.footer_in{
width:86%;
margin:0 auto;

}

.f_navi{
display:flex;
align-items:center;
justify-content:space-between;
text-align:center;
font-size:18px;
color:#000;
font-weight:500;
margin:0px auto;
padding:50px 0 ;
}

.f_logo{
width:25%;
margin:0;
padding:0px 0 0px 0;
}
.f_logo a{
display:inline-block;
margin: 0px;
}
.f_logo img{
width:100%;
margin:0 auto;
}

.f_c_navi{

}

.f_copy{
background-color:#fff;
text-align:center;
padding:40px 0 ;
}
.f_copy a:hover{color:#33b633;}
.f_copy a {font-size:18px;}
.copy{
text-align:center;
font-size:14px;
color:#000;
margin:0px 0;
}


    #pageTop {
	position:fixed;
	bottom:50px;
	right:50px;
	width:70px;	
	margin:0px auto 0px auto;
	border-radius: 300px;
	overflow: hidden;
    }
    #pageTop a img {
	width:100%;
	margin:0px auto 0px auto;
	-webkit-transition: 0.3s ease-in-out;
	   -moz-transition: 0.3s ease-in-out;
	     -o-transition: 0.3s ease-in-out;
	        transition: 0.3s ease-in-out;
    }
    #pageTop a img:hover {
      opacity: 0.7;
    }


.pc-none{
display:none !important;
}
.sp-br{
display:none !important;
}
.link_sp{
display:none !important;
}
.contact_btn_sp{
display:none !important;
}
#navToggle{
display:none !important;
}

.mt80{margin-top:80px;}



.animation{
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.keyframe6 {
  animation-name: poyopoyo;
}

@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}


/* モーダルウィンドウ */

/* オーバーレイ */
.overlay {
display: none;
position: fixed;
top: 0;
left: 0;
background-color: rgb(0 0 0 / 0.7);
width: 100%;
height: 100%;
z-index: 1001;
}
/* ウィンドウ */
.modal-window {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width:50%;
z-index: 1002;
padding:50px 50px;
overflow-y: scroll;
background-color:#ffffff;
border-radius: 30px;
overflow: hidden;
}

.modal_middle01{
width:25%;
position: absolute;
top:10%;
left:-10%;
}
.modal_middle01 img{width: 100%;}

.modal_middle02{
width:35%;
position: absolute;
top:30%;
right:-15%;
}
.modal_middle02 img{width: 100%;}

/* 閉じるボタン */
.button-close {
outline: none;
appearance: none;
width: 160px;
padding:10px 20px;
background-color:#000;
border-radius:200px;
border: 5px solid #000;
font-size:16px;
color: #fff;
font-weight:600;
cursor: pointer;
margin:30px auto 0px auto;
z-index: 1003;
}


.modal-window h2{
width:350px;
text-align:center;
margin:30px auto;
z-index: 1003;
}
.modal-window h2 img{width: 100%;margin:0px 0px 0px 0px;}

.modal-window h3{
text-align:center;
margin:30px auto 10px auto;
z-index: 1003;

}
.modal-window h3 span{
color:#00b900;
font-size:24px;
line-height:1.5;
}
.modal-window h4{
text-align:left;
color:#4b9536;
font-size:16px;
width:100%;
margin:0 auto 20px auto;
z-index: 1003;
}
.modal-window p{
position: relative;
text-align: center;
line-height:1.5;
width:100%;
margin:0 auto 10px auto;
z-index: 1003;
}


.modal_in_box{
width:250px;
text-align:center;
margin:0px auto 20px auto;
z-index: 1003;
}
.modal_in_box img{
width: 100%;
}
.modal_in_box a{
display:inline-block
}

.modal-window p span{
font-size:14px;
text-align: center;
}


/* ---コンテンツ表示アニメーション---*/
.animate {
  opacity: 0;
  transition: opacity 0.8s ease 0.2s, transform 0.8s ease 0.2s; /* 0.5秒の遅延 */
  will-change: opacity, transform;
}

.fade-in-from-bottom {
  transform: translateY(30px); /* 下から */
}

.fade-in-from-top {
  transform: translateY(-30px); /* 上から */
}

.fade-in-from-left {
  transform: translateX(-15px); /* 左から */
}

.fade-in-from-right {
  transform: translateX(15px); /* 右から */
}

.animate.visible {
  opacity: 1;
  transform: translateY(0) translateX(0); /* 元の位置に */
}

.t_cv_btn{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
	cursor: pointer;
  animation: bounce 2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}

